/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/************************************************************************
        DEBUT DE LA FEUILLE DE STYLE POUR LE SITE
************************************************************************/

body {
    font-family: Trebuchet, arial, verdana, sans-serif;
    line-height: 1.2;
    font-size: 100%;
    background: #e7e6ed; 
}

i, em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 150%;
    color: white;
}

h2 {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: 35px;
}

h3 {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 25px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
}

main, body > footer {
    width: 100%;
    margin: 0px auto;
}

/* Quand le premier enfant de l'élément main est un élément section, il a une margin-top de 50 px. C'est le cas de
 * toutes les pages sauf la page article.html dans laquelle le premier enfant de l'élément main est un élément
 * article avec une une margin-top de 20 px.
 */

main{
    min-height: calc(100vh - 42px - 200px - 50px - 30px - 20px - 10px);
}

main#article{
    min-height: calc(100vh - 42px - 200px - 20px - 30px - 20px - 10px);
}


p, blockquote {
    text-align: justify;
    margin: 10px auto;
}

blockquote {
    font-style: italic;
    padding: 5px 30px; 
}

blockquote::before {
    content: "\00AB\00A0";
    font-size: 18px;
}
blockquote::after {
    content: "\00A0\00BB";
    font-size: 18px;
}

/** Style des figures (avec iframe) */
figure {
    display: inline-block;
    margin: 10px 16px;
    text-align: center;
}


/************************************************************************
                        Menu de navigation
*************************************************************************/

nav {
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    height: 40px;
    font-size: 100%;
}

nav > ul {
    background: #e7e6ed;
    text-align: right;
}


nav > ul > li {
    text-align: left;
    display: inline-block;
    margin: 0px 2.5% 0px 2.5%;
}

nav > ul > li:first-child {
    float: left;
    font-weight: bold;
}

nav li:first-child a {
    color: #2c83ca;
}

nav a[href] {
    display: block;
    color: black;
    margin: 18px 0px 18px 0px;
    text-align: center;
}

nav a, a:link, a:visited {
  position: relative;
}

nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left:0;
  background-image: linear-gradient(90deg, rgb(36, 105, 179), rgb(36, 142, 212));
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size .3s ease-in;
}

nav a:hover::before {
  background-size: 100% 2px;
}

.bandeau {
    background-color: #2c83ca;
    color:white;
    padding: 8px;
    --gap: 20px;
    display: flex;
    gap: var(--gap);
}

.bandeau ul {
    flex-shrink: 0;
    display: flex;
    gap: var(--gap);
    animation: scroll 50s linear infinite;
}

.bandeau:hover ul {
    animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}






/**********************************************************************
                        EN-TETE 
**********************************************************************/




header img {
  width: 95%;
  height: 440px;
  margin-top: 92px;
  margin-left: 2.5%;
  border-radius: 20px;
}

.cover {
  object-fit: cover;
}

.imgTitre {
    position: absolute;
    left: 0;
    height: auto;
    width: 50%;
    margin: 170px 0px 0px 5%;
}

header a{
    color: #eb6724;
    background-color: white;
    padding: 15px;
    font-size: 70%;
    border-radius: 25px;
    border: solid #eb6724;
    margin-left: 40px;
    font-weight: bold;
}

header a:hover{
    background: #ff9f5f;
    border: solid #ed7b2e;
    transition: background 0.4s linear 0s;
    color: white;
}

header h1 {
    position: absolute;
    margin: -80px 0px 0px 73px;
}

/****************************************************************
                            Pied de page
****************************************************************/
body > footer {
    text-align: center;
    background-color: #0e0e0e;
    color: #c1c0ca;;
}


footer .contenu-footer {
    display: flex;
    padding: 30px 100px 30px 100px;
}

footer> div > div{
    padding: 10px;
    width: 33%;
}

footer a{
    text-decoration: underline;
    color: #c1c0ca;
}

footer a:hover{
    transition: color 0.4s linear 0s;
    color: #5143cb;
}


/****************************************************************** 
                        Sections
*******************************************************************/

section{
    padding: 80px;
}
section:nth-child(1) > p{
    text-align: center; 
}

section:nth-child(3){
    border-image: fill 0 linear-gradient(150deg, transparent, #ff942f 50%);
    background: url(../images/fondOrange.jpg) center/cover;
    color:rgb(73, 29, 0);
    padding-left: 40%; 
    text-align: right;
}


section:nth-child(4){
    border-image: fill 0 linear-gradient(350deg, transparent, #1059cf 50%);
    background: url(../images/fondBleu.png) center/cover;
    color:rgb(6, 0, 73);
    padding-right: 40%;
}


.bandeauEvent li {
    background-color: rgb(189, 189, 189);
    width: 400px;
    height: 150px;
    float: none;
    display: inline-block;
    border-radius: 10px;
    margin-right: 70px;
    padding: 40px;
}

.bandeauEvent li img{
    position: absolute;
    display: flex;
    margin-left: 300px;
}

.googleMap {
    border-radius: 20px;
    width: 100%;
}